<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты отбора</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">Результаты отбора</h1>
    <h2>Претендента на участие в миссии Mark:</h2>
    <p style="background-color:green; color:black;">Поздравляем! Ваш рейтинг после 2 этапа отбора</p>
    </div>
    <div class="alert alert-light" role="alert">
        составляет: 8.5!
    </div>
    <p style="background-color:yellow; color:black;">Желаем удачи!</p>
        Желаем удачи!
    </div>
</div>
</body>
</html>