<!doctype html>
    <html>
    <head>
        <title>Mars One</title>
    </head>
    <body>
        <div style="display: flex; justify-content: space-between;">
            <h1>Миссия Колонизация Марса</h1>
            <p>Mars One</p>
        </div>
        <div style="text-align: left;">
            <p>И на Марсе будут яблони цвести!</p>
        </div>
        <div style="text-align: center;">
            <h2>Научные симуляторы</h2>
            <img src="{{ url_for('static', filename='img/image.png') }}" alt="Image">
        </div>
    </body>
    </html>