<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Миссия Колонизация Марса</title>
</head>
<body>
    <h1>Миссия Колонизация Марса</h1>
    <p style="color: gray;">И на Марсе будут яблони цвести!</p>
    <img src="https://yastatic.net/s3/lyceum/content/images/second-year/web/MARS-2-7.png" style="margin-left: 25px;">
    <h2 style="margin-left: 25px;">Аварийный доступ</h2>
    <p style="margin-left: 25px;">id астронавта:</p>
    <form method="POST" style="margin-left: 25px;">
        <input type="text" name="astronaut_id">
    <p style="margin-left: 25px;">Пароль астронавта:</p>
    <form method="POST" style="margin-left: 25px;">
        <input type="text" name="astronaut_password">
    <p style="margin-left: 25px;">id капитана:</p>
    <form method="POST" style="margin-left: 25px;">
        <input type="text" name="capitan_id">
    <p style="margin-left: 25px;">Пароль капитана:</p>
    <form method="POST" style="margin-left: 25px;">
        <input type="text" name="capitan_password">
    <button type="submit" style="background-color: blue; color: white; margin-left: 25px;">Доступ</button>
    </form>
</body>
</html>