<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SpaceX Promotion</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="container">
    <h1 style="color:red;">Жди нас, Марс!</h1>
    <img src="/static/img/promotion.jpg" alt="SpaceX Promotion Image" class="img-responsive">
    <p style="background-color:gray;">Человечество вырастает из детства.</p>
    <p style="background-color:green; color:darkgreen;">Человечеству мала одна планета.</p>
    <p style="background-color:gray;">Мы сделаем обитаемыми безжизненные пока планеты.</p>
    <p style="background-color:yellow; color:darkyellow;">И начнем с Марса!</p>
    <p style="background-color:red; color:darkred;">Присоединяйся!</p>
  </div>
</body>
</html>