<!DOCTYPE html>
<html>
<head>
	<title>Promotion</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="static/css/style.css">

</head>
<body>
	h1>Жди нас, Марс!</h1>
    <img src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia22486-16.jpg" alt="Mars" width="400px">
    <p>Марс – четвёртая по удалённости от Солнца планета Солнечной системы.</p>
	</p>Эта планета является объектом исследования многих космических агентств,</p>
	</p>включая NASA и Европейское космическое агентство.</p>
	</p>Мы тоже надеемся отправиться на Марс в ближайшее время!</p>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
